.error-handler{
    text-align: center;
    padding: clamp(10px,3vw,20px);
}
.error-handler .err-msg{
    color: #B00020;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}
.error-handler .err-msg svg{
    font-size: clamp(11px,4.4vw,24px);
    flex-shrink: 0;
}
.error-handler h2{
    text-transform: capitalize;
    color: #B00020;
    font-size: clamp(11px,4.4vw,24px);
    white-space: nowrap;
}
.error-handler button {
    background-color: var(--main-color);
    color: white;
    padding: clamp(5px,2.3vw,10px) clamp(10px,2.5vw,20px);
    border-radius: 4px;
    margin-top: clamp(10px,2.5vw,20px);
    font-size: clamp(11px,4.4vw,16px);
    cursor: pointer;
    transition: var(--transition-duration);
}
.error-handler button:hover{
    scale: 1.12;
}